<%- include('../partials/head') %>
<body>
    <header>
        <nav class="navbar is-info" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a class="navbar-item" href="/">
                    <figure class="image is-52x52">
                        <img src="/images/logo-transparent.png" height="52px" width="52px" alt="CSC 471 Logo" />
                    </figure>
                </a>

                <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
                    data-target="navbarBasic">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>

            <div id="navbarBasic" class="navbar-menu">
                <div class="navbar-end">
                    <a class="navbar-item">
                        Home
                    </a>

                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link">
                            Tables
                        </a>

                        <div class="navbar-dropdown is-right">
                            <a class="navbar-item is-selected" href="/employee/all">
                                Employee
                            </a>
                            <a class="navbar-item">
                                Department
                            </a>
                            <a class="navbar-item">
                                Projects
                            </a>
                        </div>
                    </div>

                </div>

            </div>
        </nav>
    </header>
    <main>

        <section class="section">
            <h1 class="title">Employee Table</h1>
            <div class="table-container">
                <table class="table is-bordered is-striped is-fullwidth" id="employee-table">
                    <thead>
                        <tr class="is-info">
                            <th class="has-text-dark">EmpSSN</th>
                            <th class="has-text-dark">DOB</th>
                            <th class="has-text-dark">First Name</th>
                            <th class="has-text-dark">Middle init</th>
                            <th class="has-text-dark">Last Name</th>
                            <th class="has-text-dark">Address</th>
                            <th class="has-text-dark">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% employees.forEach(function(employee, index) { %>
                            <tr class="expandable-tr <%= index < 10 ? 'is-visible' : 'is-not-visible' %>">
                                <td><%= employee.EmpSSN %></td>
                                <td><%= employee.DOB %></td>
                                <td><%= employee.FName %></td>
                                <td><%= employee.Mint %></td>
                                <td><%= employee.LName %></td>
                                <td><%= employee.Address %></td>
                                <td>
                                    <div class="field is-grouped">
                                        <div class="control">
                                            <a href="/employee/employeeInfo/<%= employee.EmpSSN %>" class="button is-info">View</a>
                                        </div>
                                        <div class="control">
                                            <a href="/employee/update/<%= employee.EmpSSN %>" class="button is-warning">Edit</a>
                                        </div>
                                        <div class="control">
                                            <a href="/employee/delete/<%= employee.EmpSSN %>" class="button is-danger">Delete</a>
                                        </div>
                                        <% if (nonPayrollEmployees.some(nonPayrollEmployee => nonPayrollEmployee.EmpSSN === employee.EmpSSN)) { %>
                                            <div class="control">
                                                <a href="/employee/promote/<%= employee.EmpSSN %>" class="button is-success">Add to Payroll</a>
                                            </div>
                                        <% } %>
                                    </div>
                                </td>
                            </tr>
                        <% }); %>
                    </tbody>
                </table>
                <div class="field is-grouped">
                    <div class="control">
                        <button class="button is-info" id="toggle-rows-employee">Show/Hide Rows</button>
                    </div>
                    <div class="control">
                        <a class="button is-link" href="/employee/new">Add new employee</a>
                    </div>
                    <div>
                        <a class="button is-success" href="/employee/search">Go to Search Employees</a>
                    </div>
                </div>
            </div>
        </section>

        <section class="section">
            <h1 class="title">Dependents Table</h1>
            <div class="table-container">
                <table class="table is-bordered is-striped is-fullwidth" id="dependent-table">
                    <thead>
                        <tr class="is-info">
                            <th class="has-text-dark">EmpSSN</th>
                            <th class="has-text-dark">Name</th>
                            <th class="has-text-dark">Relationship</th>
                            <th class="has-text-dark">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% dependents.forEach(function(dependent, index) { %>
                            <tr class="expandable-tr <%= index < 10 ? 'is-visible' : '' %>">
                                <td><%= dependent.EmpSSN %></td>
                                <td><%= dependent.Name %></td>
                                <td><%= dependent.Relationship %></td>
                                <td>
                                    <div class="field is-grouped">
                                        <div class="control">
                                            <a href="/employee/dependents/<%= dependent.EmpSSN %>/<%= dependent.Name %>" class="button is-info">View</a>
                                        </div>
                                        <div class="control">
                                            <a href="/employee/dependents/update/<%= dependent.EmpSSN %>/<%= dependent.Name %>" class="button is-warning">Edit</a>
                                        </div>
                                        <div class="control">
                                            <a href="/employee/dependents/delete/<%= dependent.EmpSSN %>/<%= dependent.Name %>" class="button is-danger">Delete</a>
                                        </div>
                                    </div>

                                </td>
                            </tr>
                        <% }); %>
                    </tbody>
                </table>
                <div class="field is-grouped">
                    <div class="control">
                        <button class="button is-info" id="toggle-rows-dependent">Show/Hide Rows</button>
                    </div>
                    <div class="control">
                        <a href="/employee/dependents/new-dependent" class="button is-link">Add a new dependent</a>
                    </div>
                </div>

            </div>
        </section>
        
        <section class="section">
            <h1 class="title">Hourly Employee Table</h1>
            <div class="table-container">
                <table class="table is-bordered is-striped is-fullwidth" id="hourly-employee-table">
                    <thead>
                        <tr class="is-info">
                            <th class="has-text-dark">EmpSSN</th>
                            <th class="has-text-dark">DOB</th>
                            <th class="has-text-dark">First Name</th>
                            <th class="has-text-dark">Middle init</th>
                            <th class="has-text-dark">Last Name</th>
                            <th class="has-text-dark">Address</th>
                            <th class="has-text-dark">Hourly Pay</th>
                            <th class="has-text-dark">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% hourlyEmployees.forEach(function(employee, index) { %>
                            <tr class="expandable-tr <%= index < 10 ? 'is-visible' : '' %>">
                                <td><%= employee.EmpSSN %></td>
                                <td><%= employee.DOB %></td>
                                <td><%= employee.FName %></td>
                                <td><%= employee.Mint %></td>
                                <td><%= employee.LName %></td>
                                <td><%= employee.Address %></td>
                                <td>$<%= employee.hourlyPay.toFixed(2) %></td>
                                <td>
                                    <div class="field is-grouped">
                                        <div class="control">
                                            <a href="/employee/employeeInfo/<%= employee.EmpSSN %>" class="button is-info">View</a>
                                        </div>
                                        <div class="control">
                                            <a href="/employee/update-payroll/<%= employee.EmpSSN %>" class="button is-warning">Edit</a>
                                        </div>
                                        <div class="control">
                                            <a href="/employee/demote-hourly/<%= employee.EmpSSN %>" class="button is-danger">Demote</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        <% }); %>
                    </tbody>
                </table>
                <div class="field is-grouped">
                    <div class="control">
                        <button class="button is-info" id="toggle-rows-hourly-employee">Show/Hide Rows</button>
                    </div>
                    <div class="control">
                        <a class="button is-link" href="/employee/promote">Promote Employee</a>
                    </div>
                </div>
            </div>
        </section>

        <section class="section">
            <h1 class="title">Salaried Employee Table</h1>
            <div class="table-container">
                <table class="table is-bordered is-striped is-fullwidth" id="salaried-employee-table">
                    <thead>
                        <tr class="is-info">
                            <th class="has-text-dark">EmpSSN</th>
                            <th class="has-text-dark">DOB</th>
                            <th class="has-text-dark">First Name</th>
                            <th class="has-text-dark">Middle init</th>
                            <th class="has-text-dark">Last Name</th>
                            <th class="has-text-dark">Address</th>
                            <th class="has-text-dark">Monthly Salary</th>
                            <th class="has-text-dark">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% salariedEmployees.forEach(function(employee, index) { %>
                            <tr class="expandable-tr <%= index < 10 ? 'is-visible' : '' %>">
                                <td><%= employee.EmpSSN %></td>
                                <td><%= employee.DOB %></td>
                                <td><%= employee.FName %></td>
                                <td><%= employee.Mint %></td>
                                <td><%= employee.LName %></td>
                                <td><%= employee.Address %></td>
                                <td>$<%= employee.monthlySalary.toFixed(2) %></td>
                                <td>
                                    <div class="field is-grouped">
                                        <div class="control">
                                            <a href="/employee/employeeInfo/<%= employee.EmpSSN %>" class="button is-info">View</a>
                                        </div>
                                        <div class="control">
                                            <a href="/employee/update-payroll/<%= employee.EmpSSN %>" class="button is-warning">Edit</a>
                                        </div>
                                        <div class="control">
                                            <a href="/employee/demote-salaried/<%= employee.EmpSSN %>" class="button is-danger">Demote</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        <% }); %>
                    </tbody>
                </table>
                <div class="field is-grouped">
                    <div class="control">
                        <button class="button is-info" id="toggle-rows-salaried-employee">Show/Hide Rows</button>
                    </div>
                    <div class="control">
                        <a class="button is-link" href="/employee/promote">Promote Employee</a>
                    </div>
                </div>
            </div>
        </section>
        
    </main>
    <footer class="footer">
        <div class="content has-text-centered">
            <p>
                <strong>CSC 471 Project: Part 5</strong> by <a href="https://github.com/JM-2001/">Jonathan</a>.
                The source code can be found on this
                <a href="https://github.com/JM-2001/SQL-Web-app">github page</a>.
            </p>
        </div>
    </footer>
</body>

</html>